<template>
  <div class="screen-container">
    <div class="screen-body">
      <section class="screen-left">
        <div id="left-top" style="border:white 2px solid">
          <!-- 左上图表 -->
          <dailyFrozenPAP></dailyFrozenPAP>
        </div>
        <div id="left-middle" style="border:white 2px solid">
          <!-- 左中图表 -->
        </div>
        <div id="left-bottom" style="border:white 2px solid">
          <!-- 左下图表 -->
        </div>
      </section>
      <section class="screen-middle">
        <div id="middle-top" style="border:white 2px solid">
          <!-- 中间大图 -->
        </div>
        <div id="middle-middle" style="border:white 2px solid">
          <!-- 中间中图  -->
          <monthlyFrozenPAP></monthlyFrozenPAP>
        </div>
        <div id="middle-bottom" style="border:white 2px solid">
          <!-- 中间底图  -->
        </div>
      </section>
      <section class="screen-right">
        <div id="right-top" style="border:white 2px solid">
          <!-- 右上图表 -->
          <dailyFrozenPRP></dailyFrozenPRP>
        </div>
        <div id="right-middle" style="border:white 2px solid">
          <!-- 右中图表 -->
        </div>
        <div id="right-bottom" style="border:white 2px solid">
          <!-- 右下图表 -->
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import dailyFrozenPAP from '@/components/dailyFrozenPAP.vue'
import dailyFrozenPRP from '@/components/dailyFrozenPRP.vue'
import monthlyFrozenPAP from '@/components/monthlyFrozenPAP.vue'
export default {
  components: {
    dailyFrozenPAP,
    dailyFrozenPRP,
    monthlyFrozenPAP
  },
  data () {
    return {}
  },
  methods: {}
}
</script>
<style lang="less" scoped>
.screen-container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: #161522;
  color: #fff;
  box-sizing: border-box;
}

.screen-body {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 10px;
  .screen-left {
    height: 100%;
    width: 33%;
    #left-top {
      height: 25%;
      position: relative;
    }
    #left-middle {
      height: 30%;
      margin-top: 25px;
      position: relative;
    }
    #left-bottom {
      height: 25%;
      margin-top: 25px;
      position: relative;
    }
  }
  .screen-middle {
    height: 100%;
    width: 35%;
    margin-left: 1.6%;
    margin-right: 1.6%;
    #middle-top {
      width: 100%;
      height: 26%;
      position: relative;
    }
    #middle-middle {
      margin-top: 25px;
      width: 100%;
      height: 30%;
      position: relative;
    }
    #middle-bottom {
      margin-top: 25px;
      width: 100%;
      height: 28%;
      position: relative;
    }
  }
  .screen-right {
    height: 100%;
    width: 33%;
    #right-top {
      height: 25%;
      position: relative;
    }
    #right-middle {
      height: 30%;
      margin-top: 25px;
      position: relative;
    }
    #right-bottom {
      height: 25%;
      margin-top: 25px;
      position: relative;
    }
  }
}
.resize {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
</style>
