<!--针对/eChartLinePage这条路径显示，在这个组件中通过子组件注册的方式，显示出eChartLine.vue这个组件 主要用于全屏展示界面--->
<template>
<div class="com-page">
  <echartlineerror></echartlineerror>
</div>
</template>

<script>
import eChartLineError from '@/components/eChartLineError'
export default {
  data () {
    return {}
  },
  methods: {},
  components: {
    echartlineerror: eChartLineError
  }
}
</script>

<style lang="less" scoped>

</style>
