<!--针对/eChartMapPage这条路径显示，在这个组件中通过子组件注册的方式，显示出eChartMap.vue这个组件 主要用于全屏展示界面--->
<template>
<div class="com-page">
  <echartmap></echartmap>
</div>
</template>

<script>
import eChartMap from '@/components/eChartMap'
export default {
  data () {
    return {}
  },
  methods: {},
  components: {
    echartmap: eChartMap
  }
}
</script>

<style lang="less" scoped>

</style>
