<!--针对/eChartSectorPage这条路径显示，在这个组件中通过子组件注册的方式，显示出eChartSector.vue这个组件，主要用于全屏展示界面--->
<template>
<div></div>
</template>

<script>
export default {
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>

</style>
