<!--针对/eChartLinePage这条路径显示，在这个组件中通过子组件注册的方式，显示出eChartLine.vue这个组件 主要用于全屏展示界面--->
<template>
<div class="com-page">
  <echartline></echartline>
</div>
</template>

<script>
import eChartLine from '@/components/eChartLine'
export default {
  data () {
    return {}
  },
  methods: {},
  components: {
    echartline: eChartLine
  }
}
</script>

<style lang="less" scoped>

</style>
