
<!--针对/eChartBarPage这条路径显示，在这个组件中通过子组件注册的方式，显示出eChartBar.vue这个组件,主要用于全屏展示界面-->
<template>
<div class="com-page">
  <errorYearBar></errorYearBar>
</div>
</template>

<script>
import errorYearBar from '@/components/errorYearBar'
export default {
  data () {
    return {}
  },
  methods: {},
  components: {
    errorYearBar
  }
}
</script>

<style lang="less" scoped>

</style>
