<template>
  <div style="background:#161522;height:100%">
      <el-container>
        <el-header>
          <header class="screen-header">
            <div>
              <img src="/static/img/header_border_dark.png" alt="" />
            </div>
            <span class="logo">
              <p>LVKIROBOT</p>
            </span>
            <span class="title">电力实时监控系统</span>
            <div class="title-right">
              <img src="/static/img/qiehuan_dark.png" class="qiehuan" />
              <span class="datetime">2049-01-01 00:00:00</span>
            </div>
          </header>
        </el-header>
        <el-container>
          <el-aside style="height:1200px;width:10%;">
            <el-radio-group v-model="isCollapse" style="margin-bottom: 20px;margin-top:50px">
              <el-radio-button :label="false">展开</el-radio-button>
              <el-radio-button :label="true">收起</el-radio-button>
            </el-radio-group>
            <el-menu :default-active="activeIndex" class="el-menu-vertical-demo"  :collapse="isCollapse" router background-color="#161522" text-color="#fff">
              <el-menu-item index="/ScreenPage">
                <i class="el-icon-menu"></i>
                <span slot="title">首页</span>
              </el-menu-item>
              <el-submenu index="1">
              <template slot="title">
                <i class="el-icon-menu"></i>
                <span slot="title">日冻结</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="eChartMapPage">
                  <i class="el-icon-s-tools"></i>
                  日冻结数据
                </el-menu-item>
                <el-menu-item index="1-3">
                  <i class="el-icon-s-tools"></i>
                  最大用电需求
                </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
            <el-submenu index="2">
              <template slot="title">
                <i class="el-icon-menu"></i>
                <span slot="title">月冻结</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="dailyFrozenPowerPage">
                  <i class="el-icon-s-tools"></i>
                  月冻结
                </el-menu-item>
                <el-menu-item index="">
                  <i class="el-icon-s-tools"></i>
                  最大用电需求
                </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
            <el-submenu index="3">
              <template slot="title">
                <i class="el-icon-menu"></i>
                <span slot="title">故障</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="eChartBarPage">
                  <i class="el-icon-s-tools"></i>
                  故障数据
                </el-menu-item>
                <el-menu-item index="">
                  <i class="el-icon-s-tools"></i>
                  最大用电需求</el-menu-item>
                </el-menu-item-group>
            </el-submenu>
            <el-submenu index="4">
              <template slot="title">
                <i class="el-icon-menu"></i>
                <span slot="title">三相不平衡</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="errorYearBarPage">
                  <i class="el-icon-s-tools"></i>
                  三相不平衡数据
                </el-menu-item>
                <el-menu-item index="">
                  <i class="el-icon-s-tools"></i>
                  最大用电需求
                </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
            </el-menu>
          </el-aside>
          <el-container>
            <el-main ref="main">
              <router-view></router-view>
            </el-main>
          </el-container>
        </el-container>
      </el-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      isCollapse: false,
      activeIndex: '/ScreenPage'
    }
  },
  methods: {

  }
}
</script>

<style lang="less" scoped>

.header{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}
.screen-header {
  width: 100%;
  height: 64px;
  font-size: 20px;
  position: relative;
  > div {
    img {
      width: 100%;
    }
  }
  .title {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
  }
  .title-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-80%);
  }
  .qiehuan {
    width: 28px;
    height: 21px;
    cursor: pointer;
  }
  .datetime {
    font-size: 15px;
    margin-left: 10px;
    color: #fff;
  }
  .logo {
    color: #fff;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-80%);
    img {
      height: 35px;
      width: 128px;
    }
  }
}
</style>
