<template>
  <div class="screen-container">

    <div class="screen-body">
      <section class="screen-left" >
        <div id="left-top" style="border:white 2px solid">
          <!-- 左上图表 -->
          <eChartBar></eChartBar>
        </div>
        <div id="left-bottom" style="border:white 2px solid">
          <!-- 左下图表 -->
          <errorBar></errorBar>
        </div>
      </section>
      <section class="screen-middle">
        <div id="middle-top" style="border:white 2px solid">
          <!-- 中间大图 -->
          <eChartMap></eChartMap>
        </div>
        <div id="middle-bottom" style="border:white 2px solid">
          <!-- 中间底图  -->
          <eChartLine></eChartLine>
        </div>
      </section>
      <section class="screen-right">
        <div id="right-top" style="border:white 2px solid">
          <!-- 右上图表 -->
          <eChartSector></eChartSector>
        </div>
        <div id="right-bottom" style="border:white 2px solid">
          <!-- 右下图表 -->
          <errorYearBar></errorYearBar>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import eChartBar from '@/components/eChartBar.vue'
import eChartSector from '@/components/eChartSector.vue'
import eChartLine from '@/components/eChartLine.vue'
import eChartMap from '@/components/eChartMap.vue'
import errorBar from '@/components/errorBar.vue'
import errorYearBar from '@/components/errorYearBar.vue'
export default {
  components: {
    eChartBar,
    eChartSector,
    eChartLine,
    eChartMap,
    errorBar,
    errorYearBar
  },
  data () {
    return {

    }
  },
  methods: {

  }
}
</script>
<style lang="less" scoped>

.screen-container {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  background-color: #161522;
  color: #fff;
  box-sizing: border-box;
}

.screen-body {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 10px;
  .screen-left {
    height: 100%;
    width: 27.6%;
    #left-top {
      height: 53%;
      position: relative;
    }
    #left-bottom {
      height: 43%;
      margin-top: 25px;
      position: relative;
    }
  }
  .screen-middle {
    height: 100%;
    width: 41.5%;
    margin-left: 1.6%;
    margin-right: 1.6%;
    #middle-top {
      width: 100%;
      height: 56%;
      position: relative;
    }
    #middle-bottom {
      margin-top: 25px;
      width: 100%;
      height: 40%;
      position: relative;
    }
  }
  .screen-right {
    height: 100%;
    width: 27.6%;
    #right-top {
      height: 46%;
      position: relative;
    }
    #right-bottom {
      height: 50%;
      margin-top: 25px;
      position: relative;
    }
  }
}
.resize {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
</style>
