<!--dailyFrozenPAP_ref-->
<template>
  <div class="com-container">
    <div class="com-chart" ref="dailyFrozenPAP_ref"></div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      chartInstance: null, // 用于echart初始化赋值
      allData: null, // 从服务器获取的所有数据
      currentPage: 1,
      totalPage: 0,
      timerId: null
    }
  },
  mounted () {
    this.initChart()
    this.getData()
    window.addEventListener('resize', this.screenAdapter)
    this.screenAdapter()
  },
  destroyed () {
    clearInterval(this.timerId)
    window.removeEventListener('resize', this.screenAdapter)
  },
  methods: {
    initChart () {
      this.chartInstance = this.$echarts.init(this.$refs.dailyFrozenPAP_ref, 'chalk')
      const initOption = {
        title: {
          text: '| 日冻结正向有功',
          left: 20,
          top: 20
        },
        grid: {
          top: '20%',
          left: '3%',
          right: '6%',
          bottom: '10%',
          containLabel: true // 设置距离包含坐标轴文字（time）的属性
        },
        yAxis: {
          type: 'category'
        },
        xAxis: {
          type: 'value'
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'line',
            z: 0,
            lineStyle: {
              color: '#2d3443'
            }
          }
        },
        series: [
          {
            type: 'bar',
            label: {
              show: true,
              position: 'right', // 增加数量标签显示位置
              textStyle: {
                color: 'white'
              }
            },
            itemStyle: {
              color: new this.$echarts.graphic.LinearGradient(0, 0, 1, 0, [
                // 百分之0状态下的颜色值
                {
                  offset: 0,
                  color: '#FFD700'
                },
                // 百分之百状态下的颜色值
                {
                  offset: 1,
                  color: '#800000'
                }])
            }
          }
        ]
      }
      this.chartInstance.setOption(initOption)
      this.chartInstance.on('mouseover', () => {
        clearInterval(this.timerId)
      })
      this.chartInstance.on('mouseout', () => {
        this.startInterval(this.timerId)
      })
    },
    async getData () {
      // await this.$http.get()
      // 对allData进行赋值
      const { data: ret } = await this.$http.get('dailyFrozenPAP')
      this.allData = ret.body.data
      console.log(this.allData)
      this.totalPage = this.allData.length % 6 === 0 ? this.allData.length / 6 : this.allData.length / 6 + 1
      this.updateChart()
      this.startInterval()
    },
    updateChart () {
      // 处理数据
      const start = (this.currentPage - 1) * 6
      const end = this.currentPage * 6
      const showData = this.allData.slice(start, end)
      const name = showData.map((item) => {
        return item.time.substring(0, 10)
      })
      const value = showData.map((item) => {
        return item.positiveTotal
      })
      const dataOption = {
        yAxis: {
          data: name
        },
        series: [
          {
            data: value
          }
        ]
      }
      this.chartInstance.setOption(dataOption)
    },
    startInterval () {
      if (this.timerId) {
        clearInterval(this.timerId)
      }
      this.timerId = setInterval(() => {
        this.currentPage++
        if (this.currentPage > this.totalPage) {
          this.currentPage = 1
        }
        this.updateChart()
      }, 3000)
    },
    screenAdapter () {
      const titleFontSize = this.$refs.dailyFrozenPAP_ref.offsetWidth / 100 * 3.6
      const adapterOption = {
        title: {
          textStyle: {
            fontSize: titleFontSize
          }
        },
        tooltip: {
          axisPointer: {
            lineStyle: {
              width: titleFontSize
            }
          }
        },
        series: [
          {
            barWidth: titleFontSize / 2,
            itemStyle: {
              barBorderRadius: [0, titleFontSize / 2, titleFontSize / 2, 0]
            }
          }
        ]
      }
      this.chartInstance.setOption(adapterOption)
      this.chartInstance.resize()
    }
  }
}
</script>

<style lang="less" scoped></style>
