<!--eChartMap_ref echartmap组件-->
<template>
<div class="com-container">
  <div class="com-chart" ref="eChartMap_ref"></div>
</div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      chartInstance: null, // 用于echart初始化赋值
      allData: null // 从服务器获取的所有数据
    }
  },
  mounted () {
    this.initChart()
    this.getData()
    window.addEventListener('resize', this.screenAdapter)
    this.screenAdapter()
  },
  destroyed () {
    window.removeEventListener('resize', this.screenAdapter)
  },
  methods: {
    async initChart () {
      this.chartInstance = this.$echarts.init(this.$refs.eChartMap_ref, 'chalk')
      // 获取中国地图的矢量数据
      // http://localhost:8999/static/map/china.json
      // 由于所获取的地图矢量数据并不是位于koa2的后台，所以不能调用this.$http(设置了端口在8888)，需要单独引入axios直接使用axios
      const ret = await axios.get('http://localhost:8999/static/map/china.json')
      this.$echarts.registerMap('china', ret.data)
      const initOption = {
        title: {
          text: '| 电力用户分布图',
          left: 20,
          top: 20
        },
        geo: {
          type: 'map',
          map: 'china',
          top: '10%',
          bottom: '10%',
          itemStyle: {
            areaColor: '#2E72BF',
            borderColor: '#333'
          }
        },
        legend: {
          left: '5%',
          bottom: '5%',
          orient: 'vertical'
        }
      }
      this.chartInstance.setOption(initOption)
    },
    async getData () {
      // await this.http.get() 获取服务器数据
      // 对this.allData进行赋值之后调用updateChart
      const { data: ret } = await this.$http.get('map')
      this.allData = ret
      this.updateChart()
    },
    updateChart () {
      // 处理数据
      // 图例的数据
      const legendArr = this.allData.map(item => {
        return item.name
      })
      const seriesArr = this.allData.map(item => {
        // return这个对象就代表一个类别下的多个散点
        // 地图中显示散点数据，需要给散点的图表增加一个coordinateSystem: geo
        return {
          type: 'effectScatter',
          rippleEffect: {
            scale: 15,
            brushType: 'stroke'
          },
          name: item.name,
          data: item.children,
          coordinateSystem: 'geo'
        }
      })
      const dataOption = {
        legend: {
          data: legendArr
        },
        series: seriesArr
      }
      this.chartInstance.setOption(dataOption)
    },
    screenAdapter () {
      const titleFontSize = this.$refs.eChartMap_ref.offsetWidth / 100 * 3.6
      // console.log(titleFontSize)
      const adapterOption = {
        title: {
          textStyle: {
            fontSize: titleFontSize / 1.5
          }
        },
        legend: {
          itemWidth: titleFontSize,
          itemHeight: titleFontSize / 2.5,
          textStyle: {
            fontSize: titleFontSize / 2.5
          }
        }
      }
      this.chartInstance.setOption(adapterOption)
      this.chartInstance.resize()
    }
  }
}
</script>

<style lang="less" scoped>

</style>
