<!--故障类型+次数 的饼图-->
<template>
  <div class="com-container">
    <div class="com-chart" ref='eChartSector_ref'></div>
    <span class="iconfont arr-left" @click="toLeft" :style="comStyle">﹤</span>
    <span class="iconfont arr-right" @click="toRight" :style="comStyle">﹥</span>
    <span class="cat-name" :style="comStyleCatname">{{catName}}</span>
  </div>
</template>

<script>
export default {
  data () {
    return {
      chartInstance: null,
      allData: null, // 服务器返回的数据
      currentIndex: 0, // 当前所展示出的一级分类数据，通过点击左右箭头调整当前展示页面
      titleFontSize: 0
    }
  },
  computed: {
    catName () {
      if (!this.allData) {
        return ''
      } else {
        return this.allData[this.currentIndex].title
      }
    },
    comStyle () {
      const arrowSize = this.titleFontSize * 2
      return {
        fontSize: arrowSize + 'px'
      }
    },
    comStyleCatname () {
      const catNameSize = this.titleFontSize / 1.5
      return {
        fontSize: catNameSize + 'px'
      }
    }
  },
  mounted () {
    this.initChart()
    this.getData()
    window.addEventListener('resize', this.screenAdapter)
    this.screenAdapter() // 在界面加载完成的时候，主动进行屏幕的适配，第一次进入时就主动调用自适应，避免初次进入的尺寸问题
  },
  destroyed () {
    window.removeEventListener('resize', this.screenAdapter) // 组件销毁的时候，需要将监听器取消掉，避免内存泄漏的问题——模糊需要进一步了解
  },
  methods: {
    // 初始化echartInstance对象
    initChart () {
      this.chartInstance = this.$echarts.init(this.$refs.eChartSector_ref, 'chalk') // chalk参数指使用chalk主题
      // 对图标初始化配置的控制
      // left，right传参不需要加单位px等
      const initOption = {
        title: {
          text: '| 故障信息占比统计图',
          left: 20,
          top: 20
        },
        legend: {
          top: '15%',
          icon: 'circle',
          type: 'scroll'
          // orient: 'vertical',
          // left: 'left',
          // bottom: 20
        },
        tooltip: {
          show: true, // 鼠标指向之后的提示框
          trigger: 'item'
        },
        series: [
          {
            type: 'pie',
            radius: ['40%', '70%'],
            center: ['50%', '60%'],
            avoidLabelOverlap: false,
            label: {
              show: false,
              position: 'center',
              formatter: '{b} {d}%'
            },
            emphasis: {
              label: {
                show: true,
                fontSize: '15',
                fontWeight: 'bold'
              },
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              },
              labelLine: {
                show: false // 是否显示那条指向线
              }
            }
          }
        ]
      }
      this.chartInstance.setOption(initOption)
    },
    // 获取服务器的数据
    async getData () {
      // 获取服务器数据，对this.allData进行赋值之后调用updatChart方法更新图表（根据后端所给接口替换echarsector 测试接口hotproduct）
      // console.log出所获取的数据,进行测试是否获取成功
      const { data: ret } = await this.$http.get('errorTypeF')
      this.allData = ret.body
      console.log(this.allData)
      this.updateChart()
    },
    // 更新图表
    // 饼图中的两个值name和value不要改
    updateChart () {
      const legendData = this.allData[this.currentIndex].failuresNumberCollectDtos.map(item => {
        return item.failureName
      })
      const seriesData = this.allData[this.currentIndex].failuresNumberCollectDtos.map(item => {
        return {
          name: item.failureName,
          value: item.failureQuantity
        }
      })
      console.log(seriesData)
      const dataOption = {
        legend: {
          data: legendData
        },
        series: [
          {
            data: seriesData
          }
        ]
      }
      this.chartInstance.setOption(dataOption)
    },
    // 屏幕分辨率自适应,当浏览器的大小发生变化时，会调用的方法，来完成屏幕的适配
    screenAdapter () {
      this.titleFontSize = this.$refs.eChartSector_ref.offsetWidth / 100 * 3.6
      // 和分辨率大小相关的配置项
      const adapterOption = {
        title: {
          textStyle: {
            fontSize: this.titleFontSize
          }
        },
        legend: {
          itemWidth: this.titleFontSize / 2,
          itemHeight: this.titleFontSize / 2,
          itemGap: this.titleFontSize / 2.2,
          textStyle: {
            fontSize: this.titleFontSize / 2.2
          }
        },
        series: [
          {
            radius: [this.titleFontSize / 2 * 6.5, this.titleFontSize * 6.5]
          }
        ]
      }
      this.chartInstance.setOption(adapterOption)
      // 手动的调用图标对象的resize 才能产生效果
      this.chartInstance.resize()
    },
    toLeft () {
      this.currentIndex--
      if (this.currentIndex < 0) {
        this.currentIndex = this.allData.length - 1
      }
      this.updateChart()
    },
    toRight () {
      this.currentIndex++
      if (this.currentIndex > this.allData.length - 1) {
        this.currentIndex = 0
      }
      this.updateChart()
    }
  }
}
</script>

<style lang="less" scoped>
.iconfont {
  font-size: 60px;
}
.arr-left {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arr-right {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.cat-name {
  position: absolute;
  left: 80%;
  bottom: 20px;
}
</style>
