<!--故障类型+次数 的柱状图-->
<template>
  <div class="com-container">
    <div class="com-chart" ref='eChartBar_ref'></div>
    <span class="cat-name" :style="comStyleCatname">{{catName}}</span>
  </div>
</template>

<script>
export default {
  data () {
    return {
      chartInstance: null,
      allData: null, // 服务器返回的数据
      currentPage: 1, // 当前显示的页数
      totalPage: 0, // 一共有多少页
      timerId: null, // 定时器的标识
      titleFontSize: 10
    }
  },
  computed: {
    catName () {
      if (!this.allData) {
        return ''
      } else {
        return this.allData[0].time.substring(0, 10)
      }
    },
    comStyleCatname () {
      const catNameSize = this.titleFontSize / 1.5
      return {
        fontSize: catNameSize + 'px'
      }
    }
  },
  mounted () {
    this.initChart()
    this.getData()
    window.addEventListener('resize', this.screenAdapter)
    this.screenAdapter() // 在界面加载完成的时候，主动进行屏幕的适配，第一次进入时就主动调用自适应，避免初次进入的尺寸问题
  },
  destroyed () {
    clearInterval(this.timerId)
    window.removeEventListener('resize', this.screenAdapter) // 组件销毁的时候，需要将监听器取消掉，避免内存泄漏的问题——模糊需要进一步了解
  },
  methods: {
    // 初始化echartInstance对象
    initChart () {
      this.chartInstance = this.$echarts.init(this.$refs.eChartBar_ref, 'chalk') // chalk参数指使用chalk主题
      // 对图标初始化配置的控制
      const initOption = {
        title: {
          text: '︱故障数量日表',
          // textStyle: {
          //   fontSize: 66
          // }, // 后面添加了自适应此处可以去掉
          left: 20,
          top: 20
        },
        grid: {
          top: '20%',
          left: '3%',
          right: '6%',
          bottom: '10%',
          containLabel: true // 设置距离包含坐标轴文字（time）的属性
        },
        xAxis: {
          type: 'value'
        },
        yAxis: {
          type: 'category'
          // data: names  这是需要引入的变量得到数据才需要配置，待删除内容
        },
        // tooltip用于实现鼠标位置的细节提示背景内容
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'line',
            z: 0,
            lineStyle: {
              // width: 66, // 后面添加了自适应此处可以去掉
              color: '#2d3443'
            }
          }
        },
        series: [
          {
            type: 'bar',
            // data: value, 这是需要引入的变量得到数据才需要配置，待删除内容
            // barWidth: 66, // 后面添加了自适应此处可以去掉
            // 数量轴显示标签，默认show为false（不显示）,数量轴标签相关的属性均在此修改
            label: {
              show: true,
              position: 'right', // 增加数量标签显示位置
              textStyle: {
                color: 'white'
              }
            },
            // 单独控制每个数量轴的样式
            itemStyle: {
              // barBorderRadius: [0, 33, 33, 0], // 增加数量轴的圆角 // 后面添加了自适应此处可以去掉
              // 1,指明颜色渐变的方向（通过（x1，y1）——>（x2,y2）的方式，顺序为（x1，y1，x2，y2）从左往右即0，0，1，0; 2,指明不同百分比之下颜色的值
              color: new this.$echarts.graphic.LinearGradient(0, 0, 1, 0, [
                // 百分之0状态下的颜色值
                {
                  offset: 0,
                  color: '#800000'
                },
                // 百分之百状态下的颜色值
                {
                  offset: 1,
                  color: '#FFD700'
                }])
            }
          }
        ]
      }
      this.chartInstance.setOption(initOption)
      // 对图标对象进行鼠标时间的监听
      this.chartInstance.on('mouseover', () => {
        clearInterval(this.timerId)
      })
      this.chartInstance.on('mouseout', () => {
        this.startInterval(this.timerId)
      })
    },
    // 获取服务器的数据
    async getData () {
      // 根据后端所给接口替换echartbar 测试接口seller
      // await this.$http.get('error')
      // console.log出所获取的数据,进行测试是否获取成功
      const { data: ret } = await this.$http.get('error')
      console.log(ret)
      this.allData = ret
      this.totalPage = this.allData.length % 8 === 0 ? this.allData.length / 8 : this.allData.length / 8 + 1
      // // 以上是根据取得数据长度和计划每页展示多少条,计算所有页totalpage共多少
      this.updateChart()
      // 启动定时器
      this.startInterval()
    },
    // 更新图表
    updateChart () {
      // 显示所展示数据,每页展示5条，从alldata中截取5条
      const start = (this.currentPage - 1) * 8 // 0
      const end = this.currentPage * 8 // 5
      const showData = this.allData.slice(start, end)
      // 从后端获取到的数据中取出对应x,y轴的数据
      const names = showData.map((item) => {
        return item.time.substring(11)
      })
      const value = showData.map((item) => {
        return item.failureQuantity
      })
      const dataOption = {
        yAxis: {
          data: names
        },
        series: [
          {
            data: value
          }
        ]
      }
      this.chartInstance.setOption(dataOption)
    },
    // 设置定时器并添加条件判断当到总共页数上限时重新循环
    startInterval () {
      if (this.timerId) {
        clearInterval(this.timerId)
      }
      this.timerId = setInterval(() => {
        this.currentPage++
        if (this.currentPage > this.totalPage) {
          this.currentPage = 1
        }
        this.updateChart()
      }, 3000)
    },
    // 屏幕分辨率自适应,当浏览器的大小发生变化时，会调用的方法，来完成屏幕的适配
    screenAdapter () {
      // console.log(this.$refs.eChartBar_ref.offsetWidth)
      this.titleFontSize = this.$refs.eChartBar_ref.offsetWidth / 100 * 3.6
      // 和分辨率大小相关的配置项
      const adapterOption = {
        title: {
          textStyle: {
            fontSize: this.titleFontSize // 增加图表标题文字大小的适配
          }
        },
        tooltip: {
          axisPointer: {
            lineStyle: {
              width: this.titleFontSize // 增加坐标轴的提示背景宽度的适配
            }
          }
        },
        series: [
          {
            barWidth: this.titleFontSize, // 增加坐标轴宽度的适配
            itemStyle: {
              barBorderRadius: [0, this.titleFontSize / 2, this.titleFontSize / 2, 0] // 增加数量轴的圆角的适配
            }
          }
        ]
      }
      this.chartInstance.setOption(adapterOption)
      // 手动的调用图标对象的resize 才能产生效果
      this.chartInstance.resize()
    }
  }
}
</script>

<style lang="less" scoped>
.cat-name {
  position: absolute;
  left: 82%;
  bottom: 25px;
  font-weight: 900;
}
</style>
