<!--eChartLineError_ref-->
<template>
<div class="com-container">
  <div class="com-chart" ref="eChartLineError_ref"></div>
</div>
</template>

<script>
export default {
  data () {
    return {
      chartInstance: null, // 用于echart初始化赋值
      allData: null // 从服务器获取的所有数据
    }
  },
  mounted () {
    this.initChart()
    this.getData()
    window.addEventListener('resize', this.screenAdapter)
    this.screenAdapter()
  },
  destroyed () {
    window.removeEventListener('resize', this.screenAdapter)
  },
  methods: {
    initChart () {
      this.chartInstance = this.$echarts.init(this.$refs.eChartLineError_ref, 'chalk')
      const initOption = {
        grid: {
          left: '3%',
          top: '35%',
          right: '4%',
          bottom: '1%',
          containLabel: true
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          left: 20,
          top: '15%',
          icon: 'circle'
        },
        xAxis: {
          type: 'category',
          boundaryGap: false
        },
        yAxis: {
          type: 'value'
        }
      }
      this.chartInstance.setOption(initOption)
    },
    async getData () {
      // await this.http.get()
      // 对allData进行赋值
      const { data: ret } = await this.$http.get('errorTypeQuantity')
      this.allData = ret
      console.log(this.allData)
      this.updateChart()
    },
    updateChart () {
      // 处理数据
      const timeArr = this.allData.body.times
      const valueArr = this.allData.body.lines
      const seriesArr = valueArr.map((item, index) => {
        return {
          name: item.lineName,
          type: 'line',
          data: item.qualities
          // stack: this.allData.body
        }
      })
      const legendArr = valueArr.map(item => {
        return item.lineName
      })
      console.log(this.allData)
      console.log(timeArr)
      console.log(valueArr)
      console.log(seriesArr)
      const dataOption = {
        xAxis: {
          data: timeArr // x轴数据名
        },
        legend: {
          data: legendArr // 图例数据名
        },
        series: seriesArr // y轴展示的序列对象变量名
      }
      this.chartInstance.setOption(dataOption)
    },
    screenAdapter () {
      const adapterOption = {}
      this.chartInstance.setOption(adapterOption)
      this.chartInstance.resize()
    }
  }
}
</script>

<style lang="less" scoped>

</style>
