<template>
  <div class="box">
    <div class="login" style="border:1px solid #000000;">
      <p>账号：<input type="text" v-model="login.name" placeholder="请输入用户名" ></p>
      <p>密码：<input type="password" v-model="login.pwd" placeholder="请输入密码"></p>
      <button @click="log">登录</button>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import { mapMutations } from 'vuex'

export default {
  data () {
    return {
      login: {
        name: '',
        pwd: ''
      }
    }
  },

  methods: {
    ...mapMutations(['changeLogin']),
    log () {
      const _this = this
      if (this.login.name === '' || this.login.pwd === '') {
        alert('账号密码不能为空')
      } else {
        const data = new FormData()
        data.append('username', '' + this.login.name)
        data.append('password', '' + this.login.pwd)
        axios({
          headers: { 'content-type': 'x-www-form-urlencoded;charset=UTF-8' },
          method: 'post',
          url: 'http://192.168.1.2:8001/dfs/web/user/login',
          data: data

        }).then(res => {
          console.log(res)
          if (res.data.code === '200') {
            _this.userToken = 'Bearer ' + res.data.body.access_token
            _this.changeLogin({ Authorization: _this.userToken })
            this.$router.push('/navPage')
            alert('登录成功')
          } else {
            alert('账号或密码错误')
          }
        }).catch(error => {
          console.log(error)
        })
      }
    }
  }
}
</script>

<style scoped>
.box{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
.login{
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
