<template>
  <div id="app">
    <!-- 路由占位符 路由匹配到的组件会显示在这-->
    <router-view></router-view>
  </div>
</template>

<style lang="less">
html,body{
  margin: 0;
  padding: 0;
  height: 100%;

}
</style>
